name: Hourly Weather Update

on:
  schedule:
    - cron: '0 * * * *' # Har ghante chalega
  workflow_dispatch: # Taake aap khud bhi button daba kar chala sakein

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run script
        run: milan_weather.py # Agar aapki file ka naam alag hai toh wo likhein

      - name: Commit and Push changes
        run: |
          git config --global user.name "GitHub Action"
          git config --global user.email "action@github.com"
          git add milan_env.db
          git commit -m "Update database" || exit 0
          git push
